section.home
	
	h1= title
	
	p Welcome to #{title}
	
	img(src="#{image}", id="qr", width="75%", height="75%")

	p Waiting for 8 players

script(src="/js/zepto.js")
script(src="/socket.io/socket.io.js")
script(src="/js/wtf.js")