body.mobileui
	section.join
		
		h1 Join
		
		section.controls
			a(href='/auth/facebook') Connect using Facebook
			a(href='/auth/twitter') Connect using Twitter
		
		

	script(src="/js/zepto.js")
	script(src="/socket.io/socket.io.js")
	script(src="/js/wtf.js")