body.mobileui
	section.join
		
		h1 Connect Using
		
		section.controls
			a(href='/auth/facebook')(class='fb') 
				img(src="/img/fb.png")
			a(href='/auth/twitter')(class='tw')
				img(src="/img/twitter.png")
		
		

	script(src="/js/zepto.js")
	script(src="/socket.io/socket.io.js")
	script(src="/js/fastclick.min.js")
	script(src="/js/common.js")
	script(src="/js/client.js")