body.mobileui(id=userId)
	div.mobile
		p Sit tight...

	script(src="/js/zepto.js")
	script(src="/socket.io/socket.io.js")
	script(src="/js/fastclick.min.js")
	script(src="/js/common.js")
	script(src="/js/client.js")