body.mobileui(id=userId)
	div.mobile

		h1= title

		section.controls
			a.left(href="#") Left
			a.right(href="#") Right

	script(src="/js/zepto.js")
	script(src="/socket.io/socket.io.js")
	script(src="/js/fastclick.min.js")
	script(src="/js/common.js")
	script(src="/js/client.js")