section.race
	
	canvas#canvas(width="960", height="600")
	audio#theme(src="/audio/LibertyBellMarch.mp3")

	.racers
		ol




script(src="/js/zepto.js")
script(src="/socket.io/socket.io.js")
script(src="/js/competition.js")
script(src="/js/common.js")
script(src="/js/server.js")
script
	var WTF = WTF || {};
	WTF.numPlayers = !{numPlayers};
	WTF.users = !{JSON.stringify(users)};
	WTF.remainingPlayers = WTF.numPlayers;
	for(var i in WTF.users) {
		WTF.remainingPlayers--;
	}
	WTF.qrImage = new Image();
	WTF.qrImage.onload = function() {
		WTF.setupCanvas();
	};
	WTF.qrImage.src = "!{image}";