section.race
	
	canvas#canvas(width="810", height="600")

	audio#audio(src="/audio/LibertyBellMarch.mp3")

div#fb-root

div#social

	img(src="/img/logo_LBi_red.gif")

	div.gplus
		div.g-plusone(data-annotation="inline", data-width="150", data-href="http://www.facebook.com/LBiUK/app_251624868290027")

	a.twitter-share-button(href="https://twitter.com/share", data-url="http://www.facebook.com/LBiUK/app_251624868290027", data-hashtags="lbiolympics", data-lang="en", data-related="lbilondon", data-via="lbilondon", data-text="I'm running in the #lbiolympics") Tweet

	div.fb-like(data-href="http://www.facebook.com/LBiUK/app_251624868290027", data-show-faces="false", data-send="true", data-width="350", data-show-faces="true")

script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
script(src="/socket.io/socket.io.js")
script(src="/js/common.js")
script(src="/js/server.js")
script
	var imagesToPreload = [!{imageURLs}];
	var LOL = LOL || {};

	LOL.qrImage = new Image();

	LOL.qrImage.src = '!{qrImageSrc}';

	LOL.preloadAssets(imagesToPreload);

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-33688379-1']);
	_gaq.push(['_trackPageview']);

	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
