global-reset()

html
body
  min-height 100%

body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background linear-gradient(top, #fff, #c9c9c9)

a
  color #00B7FF

#canvas
	width 620px
	height 241px