global-reset()

html
body
  min-height 100%

body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background linear-gradient(top, #fff, #c9c9c9)

a
  color #00B7FF

.controls
	width 75%
	margin 0 auto
    box-orient horizontal
    box-align center
    box-pack center
    border-radius 5px
	display box

.controls a
	text-decoration none
	display block
	padding 20px
	width 45%
	margin 5%
	color #252525
	text-align center
	background linear-gradient(top, #fcfcfc, #bada55)
	box-shadow 0 8px 6px -6px #ccc
	border-radius 10px
	border 1px solid #ebebeb