html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
html,body{min-height:100%}
body{padding:50px;font:14px "Lucida Grande",Helvetica,Arial,sans-serif;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #c9c9c9));background:-webkit-linear-gradient(top, #fff 0%, #c9c9c9 100%);background:-moz-linear-gradient(top, #fff 0%, #c9c9c9 100%);background:-o-linear-gradient(top, #fff 0%, #c9c9c9 100%);background:-ms-linear-gradient(top, #fff 0%, #c9c9c9 100%);background:linear-gradient(top, #fff 0%, #c9c9c9 100%)}
a{color:#00b7ff}
#canvas{width:620px;height:241px}
